* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f8f9fc;
}

.main{
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}


.search {
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-profile img{
  width: 20px;
  height: 20px;
}
.icon {
  width: 22px;
  height: 22px;
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-box {
  background-color: white;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-box input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 180px;
}

.search-box button {
  padding: 10px 15px;
  background-color: #DC2626;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  color: #2e66f8;
}







