<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Service Package</title>
  <link rel="stylesheet" href="addService.css" />
</head>
<body>
    <div class="sidebar">
    <div class="logo">
      <img src="../../Images/logo.png" alt="AutoNexus Logo">
      <h2>AUTONEXUS</h2>
      <p>VEHICLE SERVICE</p>
    </div>
    <ul class="menu">
      <li><a href="../Dashboard/dashboard.html">Dashboard</a></li>
      <li><a href="../Schedule/Schedule.html">Team Schedule</a></li>
      <li class="active"><a href="../Services/Services.html">Service & Packages</a></li>
      <li><a href="../Complaints/complaints.html">Complaints</a></li>
      <li><a href="../Team Performance/Performance.html">Team Performance</a></li>
      <li><a href="../Customer Profile/Profile.html">Customer Profiles</a></li>
      <li><a href="../Reports/Report.html">Reports</a></li>
    </ul>
  </div>

  <div class="main">

  <div class="modal">
    <div class="modal-header">
      <h2>Edit Service Package</h2>
      <span class="close-button">&times;</span>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label>Package Name</label>
        <input type="text" placeholder="Enter the Package Name" />
      </div>

      <div class="form-group">
            <label>Price</label>
            <input type="number" placeholder="Enter the Price Rs."/> 
        </div>

        <div class="form-group">
            <label>Duration</label>
            <input type="number" placeholder="Enter the time duration"/> 
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea placeholder="Enter detailed description"></textarea>
        </div>

        <div class="form-group service-items-container">
            <label>Service item</label>
        <div class="service-items">
          <input type="text" placeholder="Service item" class="service-item-input"/>
          <span class="remove-item">❌</span>
        </div>
        
        <button class="add-item">+ Add Item</button>
      </div>
</div>

    <div class="modal-footer">
      <button class="cancel-button">Cancel</button>
      <button class="save-button">Save</button>
    </div>
  </div>

  <script src="addServices.js"></script>
</body>
</html>
