* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  background: #f6f7fa;
  color: #333;
}

.sidebar .logo img {
  width: 80%;      
  max-width: 200px; 
  height: auto;    
  display: block;
  margin: 0 auto;  
}

.sidebar {
  position: fixed;
  top: 0;        /* stick to very top */
  left: 0;
  width: 280px;
  background: #000;
  color: #fff;
  padding: 0px;
  min-height: 100vh;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar .logo h2 {
  color: #ffffff;
  margin: 5px 0 0;
}

.sidebar .logo p {
  font-size: 12px;
  letter-spacing: 1px;
}

.sidebar .menu {
  list-style: none;
  margin-top: 20px;
}

.sidebar .menu li {
  padding: 20px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ccc;
  border-radius: 0px;
}

.sidebar .menu li.active,
.sidebar .menu li:hover {
  background: #2a2d34;
}

.sidebar .menu li a {
  color: inherit;        /* matches li text color */
  text-decoration: none; /* removes underline */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  margin-left: 280px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.packages {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.packages table {
  width: 100%;
  border-collapse: collapse;
}

.packages th,.packages td{
  padding: 14px ;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.packages th {
  font-weight: 600;
  color: #444;
}

.clickable-row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.actions a {
  text-decoration: none;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.Service-item {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-list li {
  padding: 4px 0;
}

.price {
  color: red;
}




