

.main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  margin-left: 280px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar input {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #575b66;
  color: #fff;
}

.topbar input::placeholder {
  color: #ddd;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card .icon {
  font-size: 30px;
  color: #e31d1a;
}

.card h2 {
  margin: 10px 0;
}

.green {
  color: green;
  font-size: 12px;
}

.content {
  display: flex;
  gap: 20px;
}

.activities, .quick-links {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.activities table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.activities th, .activities td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.pending {
  color: red;
}

.progress {
  color: blue;
}

.completed {
  color: green;
}

.quick-links .links {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin-top: 15px;
}

.quick-links .link {
  background: #fff;
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #e31d1a;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
