* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  background: #f6f7fa;
  color: #333;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px; /* optional: pushes everything slightly down */
}

.sidebar .logo img {
  width: 80%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 10px auto 5px; /* moves image lower (adds space on top) */
}

.sidebar .logo .brand-name {
  display: block;
  font-size: 22px;  /* increase text size */
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
}


.sidebar {
  position: fixed;
  top: 0;        /* stick to very top */
  left: 0;
  width: 280px;
  background: #000;
  color: #fff;
  padding: 0px;
  min-height: 100vh;
}


.sidebar .logo h2 {
  color: #ffffff;
  margin: 5px 0 0;
}

.sidebar .logo p {
  font-size: 12px;
  letter-spacing: 1px;
}

.sidebar .menu {
  list-style: none;
  margin-top: 5px;
}

.sidebar .menu li {
  padding: 19px 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ccc;
  border-radius: 0px;
}

.sidebar .menu li.active,
.sidebar .menu li:hover {
  background: #2a2d34;
}

.sidebar .menu li a {
  color: inherit;        /* matches li text color */
  text-decoration: none; /* removes underline */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  margin-left: 280px;
}