


.main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  margin-left: 280px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  background: #e31d1a;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.packages {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.packages table {
  width: 100%;
  border-collapse: collapse;
}

.packages th,.packages td{
  padding: 14px ;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.packages th {
  font-weight: 600;
  color: #444;
}

.clickable-row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.actions a {
  text-decoration: none;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.Service-item {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-list li {
  padding: 4px 0;
}




